<h1>All the cocktails</h1>
<% @cocktails.each do |cocktail| %>
<p><%= link_to cocktail.name, cocktail_path(cocktail) %>
<%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: {confirm: 'Are you sure?'}  %></p>
<% end %>

<button class="btn btn-success"> <%= link_to 'New', new_cocktail_path%></button>
